@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141218;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6750a4;
  border-radius: 5px;
}

.inputField {
  @apply w-full px-3 py-2 bg-transparent border-[1px] border-light-primary-main dark:border-dark-primary-main rounded-lg focus:outline-0 disabled:opacity-40;
}
